<div class="penalties-container">
  <h3>Penalties</h3>
  <!-- Chui 1 -->
  <button class="btn btn-outline-dark" (click)="toggleChui1()" [class.clicked]="isChui1Clicked">Chui 1</button>

  <!-- Chui 2 -->
  <button class="btn btn-outline-dark" (click)="toggleChui2()" [class.clicked]="isChui2Clicked">Chui 2</button>

  <!-- Chui 3 -->
  <button class="btn btn-outline-dark" (click)="toggleChui3()" [class.clicked]="isChui3Clicked">Chui 3</button>

  <!-- Hansoku Chui -->
  <button class="btn btn-outline-dark" (click)="toggleHansokuChui()" [class.clicked]="isHansokuChuiClicked">Hansoku Chui</button>

  <button class="btn btn-outline-dark" (click)="toggleHansoku()" [class.clicked]="isHansokuClicked">Hansoku</button>

</div>

<button class="btn btn-warning" (click)="resetPenalties()">Reset Penalties</button>
