.score-readonly-container {
  position: relative;
}

.timer-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.participants-container {
  display: flex;
  justify-content: space-between;
}

.participant {
  width: 48%; /* Adjust as needed */
}

.score-buttons button {
  width: 100%;
}
