<div class="score-readonly-container">
  <div class="timer-overlay">
    <app-timer-readonly></app-timer-readonly>
  </div>

  <div class="participants-container">
    <!-- Participant 1 Score Display -->
    <div class="participant-container bg-primary text-white text-center">
      <h1>AO</h1>
      <h2>{{ totalScores[0] }}</h2>
      <div class="score-buttons">
        <button class="btn btn-outline-light m-2 no-hover">Yuko {{ scores[0].yuko }}</button>
        <button class="btn btn-outline-light m-2 no-hover">Waza-ari {{ scores[0].wazaAri }}</button>
        <button class="btn btn-outline-light m-2 no-hover">Ippon {{ scores[0].ippon }}</button>
      </div>
      <div>
        <app-penalties-readonly></app-penalties-readonly>
      </div>
    </div>

    <!-- Participant 2 Score Display -->
    <div class="participant-container bg-danger text-white text-center">
      <h1>AKA</h1>
      <h2>{{ totalScores[1] }}</h2>
      <div class="score-buttons">
        <button class="btn btn-outline-light m-2 no-hover">Yuko {{ scores[1].yuko }}</button>
        <button class="btn btn-outline-light m-2 no-hover">Waza-ari {{ scores[1].wazaAri }}</button>
        <button class="btn btn-outline-light m-2 no-hover">Ippon {{ scores[1].ippon }}</button>
      </div>
      <div>
        <app-penalties-readonly></app-penalties-readonly>
      </div>
    </div>
  </div>
</div>
